/* fonts */
*{
    margin:0px;
    padding:0px;
}

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* sheres style */

.bg-secondary{
background-color: #FFF8F3;
}
.text-primary{
    color:#FD6E0A;
}

.dark-1{
    color:#181818;
}

.dark-2{
    color:#474747;
}

.dark-3{
    color:#757575;
}

.btn-primary{
    font-size: 20px;
    font-weight:bold;
    background-color:#FD6E0A;
    color:white;
    padding: 18px 35px;
    border-radius: 5px;
    border:none;
    /* align-items: center; */
}

.section-title{
    font-size: 45px;
    font-weight: bold;
    color:#181818;
    text-align: center;
    margin-bottom: 20px;
}


.section-discription{
    font-size: 18px;
    color:#757575;
    text-align: center;
}

.text-center{
    text-align: center;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title{
    font-size:45px;
    font-weight:800;
}

nav ul{
    display:flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner section staet here */
.banner{
display: flex;
justify-content: space-between;
padding: 0 15px 0 150px;
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right;

}
.banner-content{
max-width: 585px;
padding:20px 20px 20px 0px;
margin-bottom: 10px;
}

.banner-greetings{
    font-size: 35px;
    font-weight: 600;
}

.banner-title{
    font-size:75px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-discription{
    font-size:18px;
    margin-bottom: 30px;
    
    
}

.banner-profile-pic{
    max-width: 585px;
}
/* main section */

main{
    max-width: 1140px;
    /* border:1px solid red; */
    margin:0 auto;
}


/* about section */
.about{
    border-radius: 10px;
    padding:130px 150px;
    margin-top: 130px; 
}

.about-text-content{
    border:1px solid black;
    padding:10px;
    border-radius: 5px;
}
.about-title{
text-align: center;
font-size:35px;
font-weight:bold;
}

.about-discription{
    font-size: 18px;
    margin-top: 30px;
}

.about-items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}
.about-item{
    justify-content: center;
} 



/* what i do section start here */
.skills{
    margin-top:100px;
    margin-bottom: 100px;
}
.skills-container{
    display: flex;
    gap:24px;
    margin-top: 50px;
}
.skill{
    padding:30px;
    /* border: 1px solid black; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    border-radius: 5px;
}
.skill-img{
margin-bottom: 20px;
}
.skill-title{
    margin-bottom: 20px;
    
}
/* what i do section end here */

/* resume section start here */

.resume-section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 100px;
}
.resume-container{
    display: flex;
    gap:24px;
}

.resume-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.education-section-title{
    font-size: 25px;
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: 30px;
}
.education-section-subtitle{
    margin-bottom: 20px;
}
.edication-section-description{
    margin-bottom: 30px;
}

.resume-button{
    margin-top: 50px;
}

/* resume section end here */

/* footer section start here */
footer{
    margin-top: 100px;
    display: flex;
    padding:100px 200px;
    gap:115px;
}
.footer-column{
    width: 50%;
}
.footer-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.icon-container{
    margin-top: 30px;
    width:50%;
}

footer input[type="text"], footer input[type="email"]{
    display: block;
    height:64px;
    width:100%;
    font-size: 18px;
    padding:10px 20px;
    border-radius: 5px;
    border:none;
    margin-top: 24px;
}
footer textarea{
    height: 180px;
    width:100%;
    margin-top: 24px;
    padding-top: 18px;
    padding-left: 30px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
}
footer input[type="submit"]{
    margin-top: 24px;
}
/* footer section end here */